<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.google.firebase.iid.permission.FCM_TOKEN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/notif" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/white" />
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_channel_id"
        android:value="@string/notification_channel_id" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/notif"
        android:label="@string/app_name"
        android:roundIcon="@drawable/notif"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:targetApi="31">
        <activity
            android:name=".billing.BillingCreator"
            android:exported="false"
            android:label="@string/title_activity_billing_creator"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".billing.BillingsList"
            android:exported="false"
            android:label="@string/title_activity_billings_list"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".map.MapActivity"
            android:exported="false"
            android:label="@string/title_activity_map"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".messaging.ConversationSpace"
            android:exported="false"
            android:label="@string/title_activity_conversation_space"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".meds.ListOfPrescriptions"
            android:exported="false"
            android:label="@string/title_activity_list_of_prescriptions"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".meds.ChangeAlerts"
            android:exported="false"
            android:label="@string/title_activity_change_alerts"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".meds.ResultCreator"
            android:exported="false"
            android:label="@string/title_activity_result_creator"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".meds.MedicationManager"
            android:exported="false"
            android:label="@string/title_activity_medication_manager"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Misc.ListOfPatients"
            android:exported="false"
            android:label="@string/title_activity_list_of_patients"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Misc.ListOfDoctors"
            android:exported="false"
            android:label="@string/title_activity_list_of_doctors"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".appointment.AppointmentManager"
            android:exported="false"
            android:label="@string/title_activity_appointment_manager"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".messaging.ConvoList"
            android:exported="false"
            android:label="@string/title_activity_convo_list"
            android:theme="@style/Theme.App" />
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".Results.Results"
            android:exported="false"
            android:label="@string/title_activity_results"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Profile.Profile"
            android:exported="false"
            android:label="@string/title_activity_profile"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Home"
            android:exported="false"
            android:label="@string/title_activity_home"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Connect.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Connect.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".Misc.HelpPage"
            android:exported="false"
            android:label="@string/title_activity_help_page"
            android:theme="@style/Theme.App" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.App">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.TokenService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
    </application>

</manifest>